<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculator Sederhana
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Masukkan data</p><br>
    Angka Pertama: 
    <input type ="number" [(ngModel)]="Angka1"/>
    Angka Kedua  : 
    <input type ="number" [(ngModel)]="Angka2"/>
    <br>
    
    <ion-button (click)="btambah()">+</ion-button>
    <ion-button (click)="bkurang()" color ="tertiary">-</ion-button>
    <ion-button (click)="bkali()" color ="secondary">*</ion-button>
    <ion-button (click)="bbagi()" >/</ion-button>
    <br>
    Hasil Kalkulasi : 
    {{Hasil}}
    
  </div>
</ion-content>
